<div class="container">
    <h1>Add New Tour</h1>
    <form class="myForm" method="POST">
        <div class="form-group">
            <label for="tour-name">Name</label>
            <input type="text" class="form-control" id="tour-name" placeholder="Tour name" name="tourName">
        </div>
        <div class="form-group">
            <label for="tour-price">Price</label>
            <input type="number" class="form-control" id="tour-price" placeholder="$$" name="tourPrice">
        </div>
        <div class="form-group">
            <label for="tour-link">Image link</label>
            <input type="text" class="form-control" id="tour-link" placeholder="Paste your link here" name="tourLink">
            <small id="linkHelp" class="form-text text-muted">E.g: https://bvdif.vn/wp-content/uploads/2015/04/Du-lich-vung-tau-cam-nang-tu-a-den-z-iVIVU.com-1.jpg</small>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>